version: '3.7'

services:

  database:
    image: mysql
    container_name: fuelphp_db
    ports:
      - 5445:3306
    environment:
      - MYSQL_DATABASE=fuelphp_db
      - MYSQL_ROOT_PASSWORD=root
